{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  assign default_presentation = 'text'
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}
<div class="layout__section layout__section--secondary hidden-pocket storefront-filters">
  <div class="facets-container{% if filter_type == 'drawer' %} facets-container-drawer{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- if filter_type == 'vertical' or filter_type == 'horizontal' -%}
      <facet-filters-form class="facets small-hide">
        <form
          id="FacetFiltersForm"
          class="{% if filter_type == 'horizontal' %}facets__form{% else %}facets__form-vertical{% endif %}"
        >
        <div class="card">
          {%- if results.terms -%}
            <input type="hidden" name="q" value="{{ results.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {%- endif -%}

          {% if enable_filtering %}
            {% comment %} Heading is the first tabbable element on filter type horizontal {% endcomment %}
            <div
              id="FacetsWrapperDesktop"
              {% if filter_type == 'horizontal' %}
                class="facets__wrapper"
              {% endif %}
              >
              {% comment %} Pills are right below the title for filter type vertical {% endcomment %}
              
              {%- if filter_type == 'vertical' -%}
              <div class="card__section card__section--tight">
                <div class="active-facets active-facets-desktop">
                  <div class="active-facets-vertical-filter">
                    {%- unless results.filters == empty -%}
                      <h2
                        class="facets__heading facets__heading--vertical caption-large text-body card__title--small heading"
                        id="verticalTitle"
                        tabindex="-1"
                      >
                        Filter:
                      </h2>
                    {%- endunless -%}
                    <facet-remove class="active-facets__button-wrapper">
                      <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                        <span>Clear All</span>
                      </a>
                    </facet-remove>
                  </div>
                  {%- for filter in results.filters -%}
                    {%- for value in filter.active_values -%}
                      <facet-remove>
                        <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                          <span class="active-facets__button-inner button button--tertiary">
                            {{ filter.label | escape }}: {{ value.label | escape }}
                            <span class="svg-wrapper">
                              {{- 'icon-close-small.svg' | inline_asset_content -}}
                            </span>
                            {% comment %} <span class="visually-hidden">Remove filter</span> {% endcomment %}
                          </span>
                        </a>
                      </facet-remove>
                    {%- endfor -%}
                    {% if filter.type == 'price_range' %}
                      {% assign min = filter.min_value.value %}
                      {% assign max = filter.max_value.value %}
                      {%- if min != null or max != null -%}
                        <facet-remove>
                          <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                            <span class="active-facets__button-inner button button--tertiary">
                              {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                              <span class="svg-wrapper">
                                {{- 'icon-close-small.svg' | inline_asset_content -}}
                              </span>
                              {% comment %} <span class="visually-hidden">Remove filter</span> {% endcomment %}
                            </span>
                          </a>
                        </facet-remove>
                      {%- endif -%}
                    {% endif %}
                  {%- endfor -%}
                </div>
              </div>
              {%- endif -%}

              <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
              {% comment %} Filters for both horizontal and vertical filter {% endcomment %}
              {%- for filter in results.filters -%}
                {% liquid
                  assign total_active_values = total_active_values | plus: filter.active_values.size
                  assign presentation = filter.presentation | default: default_presentation

                  if presentation == 'image'
                    assign show_more_number = 12
                    assign visual_layout_class = 'facets-layout facets-layout-grid facets-layout-grid--' | append: presentation
                  else
                    assign show_more_number = 10
                    assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation
                  endif
                %}

                {% case filter.type %}
                  {% when 'boolean', 'list' %}
                  <div class="card__section card__section--tight">
                    <details
                      id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                      class="{% if filter_type == 'horizontal' %}disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                      data-index="{{ forloop.index }}"
                      {% if filter_type == 'vertical' and forloop.index == 1 %}
                        open
                      {% endif %}
                      >
                      <summary
                        class="facets__summary caption-large focus-offset"
                        aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                        >
                        <div>
                          <span class="facets__summary-label card__title--small heading">
                            {{- filter.label | escape }}
                            {%- if filter_type == 'vertical' -%}
                              <span class="facets__selected{% if filter.active_values.size == 0 %} hidden{% endif %}">
                                ({{ filter.active_values.size }})</span
                              >
                            {%- endif -%}
                          </span>
                          {%- if filter_type == 'vertical' and filter.operator == 'AND' -%}
                            <span class="facets__and-helptext">
                              {{ 'products.facets.filter_and_operator_subtitle' | t }}
                            </span>
                          {%- endif -%}
                          {% comment %} {{- 'icon-caret.svg' | inline_asset_content -}} {% endcomment %}
                        </div>
                      </summary>
                      <div
                        id="Facet-{{ forloop.index }}-{{ section.id }}"
                        class="parent-display {% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
                      >
                        {%- if filter_type != 'vertical' -%}
                          <div class="facets__header">
                            <div>
                              <span class="facets__selected">
                                {{- 'products.facets.filters_selected' | t: count: filter.active_values.size -}}
                              </span>
                              {%- if filter.operator == 'AND' -%}
                                <span class="facets__and-helptext">
                                  {{ 'products.facets.filter_and_operator_subtitle' | t }}
                                </span>
                              {%- endif -%}
                            </div>
                            <facet-remove>
                              <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                {{ 'products.facets.reset' | t }}
                              </a>
                            </facet-remove>
                          </div>
                        {%- endif -%}
                        <fieldset class="facets-wrap parent-wrap {% if filter_type == 'vertical' %} facets-wrap-vertical{% endif %}">
                          {% comment %} <legend class="visually-hidden">{{ filter.label | escape }}</legend> {% endcomment %}
                          {%- liquid
                            assign sorted_values = filter.values
                            # Keep the selected values grouped together when operator is AND
                            if filter.operator == 'AND'
                              assign active_filter_values = filter.values | where: 'active', true
                              assign inactive_filter_values = filter.values | where: 'active', false
                              assign sorted_values = active_filter_values | concat: inactive_filter_values
                            endif
                          -%}
                          <ul
                            class="{{ visual_layout_class }}{% if filter_type == 'vertical' %} facets__list--vertical{% else %} facets__list{% endif %} list-unstyled collection__filter-checkbox-list"
                            role="list"
                          >
                            {%- for value in sorted_values -%}
                              {% liquid
                                assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                                assign is_disabled = false
                                if value.count == 0 and value.active == false
                                  assign is_disabled = true
                                endif
                              %}
                              {%- capture label_class -%}
                              facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                              {%- endcapture -%}
  
                              {%- capture text_value -%}
                                <span class="facet-checkbox__text" aria-hidden="true">
                                  <span class="facet-checkbox__text-label">{{- value.label | escape }}</span> ({{- value.count -}})
                                </span>
                                <span class="visually-hidden" hidden>
                                  {{- value.label | escape }} (
                                  {%- if value.count == 1 -%}
                                    {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                  {%- else -%}
                                    {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                  {%- endif -%}
                                  )
                                </span>
                              {%- endcapture -%}
  
                              <li class="list-menu__item facets__item{% if forloop.index > show_more_number and filter_type == 'vertical' %} show-more-item hidden{% endif %}">
                                {%- if presentation == 'swatch' -%}
                                  <div class="{{ label_class }}">
                                    <div class="swatch-input-wrapper">
                                      {% render 'swatch-input',
                                        id: input_id,
                                        type: 'checkbox',
                                        name: value.param_name,
                                        value: value.value,
                                        product_form_id: 'FacetFiltersForm',
                                        swatch: value.swatch,
                                        checked: value.active,
                                        disabled: is_disabled
                                      %}
                                    </div>
  
                                    {{ text_value }}
                                  </div>
                                {%- else -%}
                                  <label for="{{ input_id }}" class="{{ label_class }} collection__filter-checkbox">
                                    <input
                                      type="checkbox"
                                      name="{{ value.param_name }}"
                                      value="{{ value.value }}"
                                      id="{{ input_id }}"
                                      {% if value.active %}
                                        checked
                                      {% endif %}
                                      {% if is_disabled %}
                                        disabled
                                      {% endif %}
                                    >
  
                                    {%- if presentation == 'image' -%}
                                      <div class="facets__image-wrapper">
                                        {%- if value.image -%}
                                          {{
                                            value.image
                                            | image_url: width: 300
                                            | image_tag: class: 'facets__image', alt: value.alt
                                          }}
                                        {%- endif -%}
                                      </div>
                                    {%- else -%}
                                      {{- 'square.svg' | inline_asset_content -}}
  
                                      <div class="svg-wrapper">
                                        {{- 'icon-checkmark.svg' | inline_asset_content -}}
                                      </div>
                                    {%- endif -%}
  
                                    {{ text_value }}
                                  </label>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </fieldset>
                        {%- if filter.values.size > show_more_number and filter_type == 'vertical' -%}
                          <show-more-button>
                            <button
                              class="button-show-more link underlined-link"
                              id="Show-More-{{ forloop.index }}-{{ section.id }}"
                              type="button"
                            >
                              <span class="label-show-more label-text"
                                ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                              </span>
                              <span class="label-show-less label-text hidden"
                                ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                              </span>
                            </button>
                          </show-more-button>
                        {%- endif %}
                      </div>
                    </details>
                  </div>
                  {% when 'price_range' %}
                  <div class="card__section card__section--tight">
                    <details
                      id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                      class="{% if filter_type == 'horizontal' %}disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                      data-index="{{ forloop.index }}"
                      {% if filter_type == 'vertical' and forloop.index == 1 %}
                        open
                      {% endif %}
                      >
                      <summary class="facets__summary caption-large focus-offset card__title--small heading">
                        <div>
                          <span>{{ filter.label | escape }}</span>
                          {% comment %} {{- 'icon-caret.svg' | inline_asset_content -}} {% endcomment %}
                        </div>
                      </summary>
                      <div
                        id="Facet-{{ forloop.index }}-{{ section.id }}"
                        class="{% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
                      >
                        <div class="{% if filter_type == 'horizontal' %}facets__header{% else %}facets__header-vertical{% endif %}">
                          {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                          <span class="facets__selected">
                            {{- 'products.facets.max_price' | t: price: max_price_amount -}}
                          </span>
                          {%- if filter_type != 'vertical' -%}
                            <facet-remove>
                              <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                {{ 'products.facets.reset' | t }}
                              </a>
                            </facet-remove>
                          {%- endif -%}
                        </div>
                        <fieldset class="facets-wrap parent-wrap {% if filter_type == 'vertical' %} facets-wrap-vertical{% endif %}">
                          <div class="collection__filter-group">
                            <ul class="facets-layout facets-layout-list facets-layout-list--text facets__list--vertical list-unstyled collection__filter-checkbox-list">
                                <input type="hidden" name="{{ filter.min_value.param_name }}">
                                <input type="hidden" name="{{ filter.max_value.param_name }}">
                                {% assign min_price = 0 %}
                                {% assign max_price = filter.range_max | divided_by: 100.00 | ceil %}
                                {% assign step = 100 %}
                                {% for i in (min_price..max_price) %}
                                    <li class="list-menu__item facets__item">
                                        {% assign range_start = i | times: step%}
                                        {% assign range_end = range_start | plus: step %}
                                        {%- assign filter_min_value = filter.min_value.value | money_without_currency |  ceil -%}
                                        {%- assign filter_max_value = filter.max_value.value | money_without_currency |  ceil -%}
                                        {% if range_end > max_price %}
                                          {% assign range_end = max_price %}
                                        {% endif %}
                                        {% if range_start < range_end %}
                                          <label class="facets__label facet-checkbox collection__filter-checkbox">
                                            <input type="radio" name="filter-price-group" value="{{ range_start }}-{{ range_end }}" 
                                            {%- if results.filters != empty and filter_min_value == range_start or filter_max_value == range_end -%}
                                                checked
                                            {%- endif -%}
                                            >
                                            {{ range_start }} - {{ range_end }}
                                          </label>
                                        {% endif %}
                                        {% if range_end >= max_price %}
                                            {% break %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                          </div>
                        </fieldset>
                        {% comment %} <price-range class="facets__price" hidden>
                          {% render 'price-facet', filter: filter, id_prefix: 'Filter-', filter_type: filter_type %}
                        </price-range> {% endcomment %}
                      </div>
                    </details>
                  </div>
                {% endcase %}
              {%- endfor -%}
            </div>
          {% endif %}

          {% if results.current_vendor or results.current_type %}
            <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
          {% endif %}
        </div>

        </form>
      </facet-filters-form>
    {%- endif -%}
  </div>
</div>
